/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


/************************************LLifts Code*****************************************/

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    max-width: 100%;
}

html,
body {
    font-family: 'Ubuntu', sans-serif;
    color: #5E6164;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Russo One', sans-serif;
    color: #23293B;
}

h2 {
    font-size: 3.2rem;
}

h3 {
    font-size: 2.8rem;
    margin: 8px;
}

p {
    font-size: 1.6rem;
    line-height: 1.4;
}

.container {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
}



.navDiv {
    border: 1px solid #F1F1F1;
    background: #f3be70;
    width: 100%;
    height: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    margin-top: 10px;
    color: #454A59;
    padding-top: 2.5px;
}


.navDiv .heading {
    display: flex;
    font-family: 'Russo One', sans-serif;
    font-size: 4rem;
    margin-bottom: 5px;
}

.navDiv a {
    padding-right: 20px;
    margin-bottom: 5px;
    text-decoration: none;
    font-size: 2rem;
}

.background {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 800px;
    align-items: center;
    background: linear-gradient(to bottom left, #ff5b7b 0%, #f3be70 100%)
}


.logo {
    width: 95%;
    height: 60%;
    color: white;
    margin-top: 5%;

}

h1 {

    color: #f6f6f6;
    font-size: 40px;
    margin-top: 5%;
    font-family: Helvetica neue;
}

h2 {

    color: #f6f6f6;
    font-size: 40px;
    font-family: Helvetica neue;
}


.loginDiv {
    display: flex;
    flex-direction: row;
}

.login {
    color: #f9ffe6;
    display: block;
    background-color: #ff5b7b;
    margin: 0 10px 20px;
    cursor: pointer;
    width: 120px;
    height: 45px;
    font-size: 20px;
    text-align: center;
    /* padding-top: 5px; */
    border-radius: 10px;
}

.createAcc {
    color: #f9ffe6;
    display: block;
    background-color: #ff5b7b;
    margin: 0 10px 20px;
    cursor: pointer;
    width: 120px;
    height: 45px;
    font-size: 20px;
    text-align: center;
    padding-top: 1px;
    border-radius: 10px;
}

Footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
}

/***************************************About-page***************************************/

.abtUsHd h1 {
    color: #23293b;
    font-size: 40px;
    margin-top: 1%;
    font-family: Helvetica neue;
    background: aliceblue;
}

.topSection {
    border-bottom: 1px dashed black;
    margin-bottom: 3.2%;
}

.logoabout {
    width: 100%;
    height: 20%;
    margin: 5px 0 5px 0;
}


.midSection {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 40%;
    margin: 10px 0 10px 0;
}


.whyDoIt {
    border: 1px solid black;
    text-align: center;
    padding: 5px;
    /* height: 10%; */
    width: 49%;
}

.whyDoIt p {
    font-size: 1.6rem;
    line-height: 1.4;
    font-family: inherit;
    padding: 3%;

}


.midImgDiv {
    width: 49%;
    height: 45%;
    margin-left: 10px;
}

.midImg {
    height: 75%;
    width: 100%;
}

.bottomSection p {
    padding-bottom: 10px;
}

/****************************************aboutUS****************************************************/
.main {
    display: flex;
    flex-direction: column;
    font-size: 25px;
    /* border: 1px solid; */
    padding: 10px;
    margin: 20px 0 20px 0;

}

.dom,
.leighton,
.may,
.ahamar,
.connor,
.mack {
    border: 1px solid black;
    padding: 10px;
    margin-bottom: 10px;
    background: #b3ffff;
}

/**********************************************media**************************************/
@media screen and (max-width: 500px) {
    .navDiv {
        padding-top: 2%;
    }

    .navDiv .heading {
        display: flex;
        justify-items: center;
        font-size: 3rem;
    }

    .navDiv a {
        /* padding-right: 20px; */
        justify-content: space-around;
        text-decoration: none;
        font-size: 1rem;
    }

    .background {
        height: 400px;
    }

    .intro p {
        align-items: center;
        font-size: 1.2rem;
        margin: 6px;
    }

    .loginDiv {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .login {
        color: #35373b;

    }

    .createAcc {
        color: #35373b;

    }

    .topSection {
        text-align: center;
        padding: 5px;
    }

    .midSection {
        display: flex;
        flex-direction: column;
        align-content: center;

    }

    .whyDoIt {
        width: 100%;
        font-size: 16px;
        width: 90%;
        margin: 0 5% 3%;
    }

    .midImgDiv {
        width: 95%;
        margin-left: 10px;
    }

    .bottomSection {
        display: flex;
        flex-direction: column-reverse;
    }

    .bottomSection p {
        text-align: center;
        padding: 5px;
    }

    .abtUsHd h1 {
        text-align: center;
    }

    Footer {
        display: flex;
        justify-content: center;
        align-items: center;
    }

}